@import url('https://fonts.googleapis.com/css?family=Life+Savers');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');



* {
  box-sizing: border-box;
}

//.main {
//  border: 2px solid red;
//  width: 1000px;
//  height: 600px;
//  display: inline-block;
//  position: absolute;
//}

.wrapperStyles {
  width: 1000px;
  max-width: 980;
};

.header {
  font-family: 'Life Savers', cursive;
  background-color: white;
  color: black;
  border-bottom: 1px solid black;
  line-height: 100%;
  padding: 1em;
  font-size: 2em;
  width: 100vw;
  height: 100px;
  text-align: center;
}

.footer {
  font-family: 'Life Savers', cursive;
  background-color: white;
  color: black;
  border-top: 1px solid black;
  line-height:100%;
  padding: 1em;
  font-size: 1em;
  width: 100vw;
  height: 100px;
  text-align: center;
}

.mainMap {
  display:flex;
  justify-content: center;
  align-items:center;
  margin-bottom: 1em;
}



//style zaznaczonej mapki kraju
.selectedMap {
  fill: #ECEFF1;
  stroke: #607D8B;
  stroke-width: 0.75;
  outline: none;
}

.selectedMap:hover {
  fill: #607D8B;
  stroke: #607D8B;
  stroke-width: 0.75;
  outline: none;
}

.selectedMap:active {
  fill: #FF5722;
  stroke: #607D8B;
  stroke-width: 0.75;
  outline: none;

}

.visitedCountry {
  fill: #3f30ff;
  stroke: #1a138b;
  stroke-width: 0.75;
  outline: none;

}

.countryInfo {
  font-family: 'Rajdhani', sans-serif;
  position:relative;
  display: inline-block;
  //border: 2px solid red;
  width: 600px;
  height: 200px;
  background-color:rgba(white, .8);
  float: left;
  text-align: left;
}

.title {
  font-size: 20px;
  padding: 10px;
}

.info {
  padding-left: 10px;
}

.countryList {
  display: inline-block;
  border: 2px solid red;
  width: 600px;
  height: 200px;
  background-color: darkgrey;
}

.been {
  font-size: 15px;
  font-weight: bold;
  padding-left: 10px;
}

.been span {
  padding-right: 10px;
}

.counter {
  font-size: 20px;
  padding: 10px;
}


/*krzyżyk zamykania*/
.close {
  margin: 15px;
  size: 25px;
  height: 25px;
  width: 25px;
  position: relative;
  box-sizing: border-box;
  line-height: 25px;
  display: inline-block;
  float: right;

  &:before, &:after {
    width: 25px;
    height: 5px;
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 25px/2;
    margin-left: 5px/2;
    margin-bottom: 25px/2;
    display: block;
    background-color: #000;
    transition: all 0.2s ease-out;
  }

  &:after {
    transform: rotate(45deg);
  }

  &:hover {

    &:before, &:after {
      transform: rotate(0deg);
    }
  }
}

.title {
}


.btn {
  color: black;
  height: 2em;
  width: 20%;
  //padding: 1.5em auto;
  margin: 1em auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  transition: all 0.2s cubic-bezier(.4,0,.2,1);
}

.btn:hover {
  letter-spacing: 0.8em;
  background-color: black;
  color: white;
}


