@import url('https://fonts.googleapis.com/css?family=Life+Savers');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

* {
  box-sizing: border-box;
}

.wrapperStyles {
  width: 60vw;
  max-width: 1200px;
  float: left;
};

.header {
  font-family: 'Life Savers', cursive;
  background-color: white;
  color: black;
  border-bottom: 1px solid black;
  line-height: 100%;
  padding: 1em;
  font-size: 2em;
  width: 100vw;
  height: 130px;
  text-align: center;
}

.header p {
  font-size: 0.8em;
  font-family: 'Special Elite', cursive;
}

.mainMap {
  display:flex;
  justify-content: center;
  align-items:center;
  margin-bottom: 1em;
}

.countryInfo {
  font-family: 'Rajdhani', sans-serif;
  display: inline-block;
  width: 20vw;
  background-color:rgba(white, .8);
  text-align: left;
}

.startInfo {
  display:flex;
  justify-content: center;
  align-items:center;
  font-family: 'Life Savers', cursive;
  font-size: 2em;
  width: 20vw;
  text-align: center;
}

.flag {
  padding-left: 10px;
  display: inline-block;
  height: 2em;
}

.title {
  font-size: 2em;
  padding-left: 10px;
}

.info {
  padding-left: 10px;
  font-size: 1.1em;
}

.been {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 10px;
}

.countryList {
  font-family: 'Rajdhani', sans-serif;
  width: 20vw;
  background-color:rgba(white, .8);
  text-align: left;
}

.countryList ul li {
  list-style-type: none;
}

.counter {
  font-size: 1.5em;
  padding: 10px;
  font-family: 'Life Savers', cursive;
}

//buttons
.btn {
  color: black;
  height: 2em;
  width: 30%;
  padding: 1.5em auto;
  margin: 1em auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  transition: all 0.2s cubic-bezier(.4,0,.2,1);
  outline: 0;
}

.btn:hover {
  letter-spacing: 0.8em;
  background-color: #ffc156;
  color: white;
}

//selected map
.selectedMap {
  fill: #ECEFF1;
  stroke: #43464a;
  stroke-width: 0.75;
  outline: none;
}

.selectedMap:hover {
  fill: #43464a;
  stroke: #43464a;
  stroke-width: 0.75;
  outline: none;
}

.selectedMap:active {
  fill: #a9b2bc;
  stroke: #a9b2bc;
  stroke-width: 0.75;
  outline: none;
}

.visitedCountry {
  fill: #ffc156;
  stroke: #6F7575;
  stroke-width: 0.75;
  outline: none;
}

.footer {
  font-family: 'Special Elite', cursive;
  background-color: white;
  color: black;
  border-top: 1px solid black;
  line-height:100%;
  padding: 1em;
  font-size: 1.5em;
  width: 100vw;
  height: 100px;
  text-align: center;
}

